<div class="content-wrapper">
  <img src="assets/chocolights.png" alt="Chocolights" class="promo-image">
  <div class="text-content">
    <h1>Welcome to Chocolights, where indulgence meets celebration.</h1>
    <p>
      As the festive season approaches, we bring you the perfect blend of luxury and joy with our exquisite chocolates and handcrafted candles. Our premium products are designed to elevate every moment, adding a touch of sweetness and warmth to your celebrations. Whether you're looking to treat yourself or gift a loved one, our chocolates promise rich, decadent flavors, while our candles create an ambiance of serenity and festivity. Embrace the spirit of the season with Chocolights, where every bite and every flicker of light is a celebration of life’s most cherished moments.
    </p>

    <!-- <img src="assets/cat.jpg" alt="Cat Image" class="promo-image right-image"> -->
  </div>
</div>


<div class="video-row">
  <iframe width="200" height="350" src="https://www.youtube.com/embed/iZWh8d76hSU" frameborder="0" allowfullscreen></iframe>
  <iframe width="200" height="350" src="https://www.youtube.com/embed/7MYY-MeOJHo" frameborder="0" allowfullscreen></iframe>
  <iframe width="200" height="350" src="https://www.youtube.com/embed/FhSY4VUTOWw" frameborder="0" allowfullscreen></iframe>
  <iframe width="200" height="350" src="https://www.youtube.com/embed/Go5d66uViIc" frameborder="0" allowfullscreen></iframe>
</div>



<!-- <button (click)="orderProduct()">Order Product</button>
<div *ngIf="whatToShow==3">
<input type="text" [(ngModel)]="productName" placeholder="Enter product name" />
</div> -->
<!-- 
<div class="order-container">
  <b><p>If you're looking to order, now's your chance to snag the best deals and fully customize your product to suit your needs!</p></b>
  <button (click)="orderProduct()">Order Product</button> -->
<!-- 
  <div *ngIf="whatToShow == 3">
    <input type="text" [(ngModel)]="productName" placeholder="Enter product name" />
    <button (click)="sendToWhatsApp()">Send Message on WhatsApp</button>
  </div>
</div> -->




<!-- 
<div class="image-grid">
    <div class="image-card" *ngFor="let image of images">
      <h3>{{ image.name }}</h3>
      <img [src]="'data:image/jpeg;base64,' + image.imageData" alt="{{ image.name }}" />
      <p>{{ image.description }}</p>
    
    </div>
  </div> -->

  <!-- latest -->

  <!-- <div class="image-grid">
    <div class="image-card" *ngFor="let image of images">
      <h3>{{ image.name }}</h3>
      <img [src]="'data:image/jpeg;base64,' + image.imageData" alt="{{ image.name }}" />
      <p>{{ image.description }}</p>

      <button (click)="orderParticularProduct()">order</button>
    </div>
    
  </div> -->
  

  <div class="image-grid">
    <div class="image-card" *ngFor="let image of images">
      <h3>{{ image.name }}</h3>
      <img [src]="'data:image/jpeg;base64,' + image.imageData" alt="{{ image.name }}" />
      <p>{{ image.description }}</p>
  
      <button (click)="orderParticularProduct(image.name)">Order</button>
    </div>
  </div>
  


  <div>
   <b><u> IF YOU WANT TO ORDER THEN VISIT OUR INSTAGRAM ACCOUNT </u></b><br><br>
    <a href="https://www.instagram.com/chocolights_c_c?igsh=aXhheWtnd2t6NXYz" target="_blank">Visit Chocolights C&C on Instagram</a>
   <br><br>
   <b>STAY CONNECTED..</b>
    
  </div>
<br><br>
 
  <button (click)="adminView()">admin</button>

  <div *ngIf="whatToShow==1">
    <app-login></app-login>
  </div> 




